carbonplan_data
cftime==1.6.2
fsspec==2023.5.0
geojson-pydantic==0.6.2
h5py==3.8.0
ipykernel==6.23.1
jupytext==1.14.7
kerchunk==0.1.2
loguru==0.7.0
morecantile==3.4.0
papermill==2.4.0
Pillow==9.5.0
psycopg==3.1.9
psycopg-binary==3.1.9
psycopg_pool
pypgstac==0.7.9
pystac==1.7.3
rio_stac<0.7,>=0.6
rio-tiler==4.1.11
rioxarray==0.14.1
s3fs==2023.5.0
titiler-pgstac
titiler
xarray==2023.5.0
ujson==5.7.0
apache-beam[interactive, dataframe]==2.48.0
git+https://github.com/carbonplan/cmip6-downscaling.git
git+https://github.com/pangeo-forge/pangeo-forge-recipes.git@beam-refactor