# Javascript libraries and compiled files
*.js
*.js.map
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
__pycache__
.pgdata
.ipynb_checkpoints
venv*
.venv
.vscode
node_modules
cdk.out
